# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы

import pandas as pd
import numpy as np

In [2]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо

df = pd.read_csv('./baseball_games.csv')
data = df[['attendance','away_team','away_team_errors','away_team_hits','away_team_runs','date','home_team','home_team_errors','home_team_hits', 'home_team_runs','day_of_week','temperature','wind_speed','total_runs','game_hours_dec','season','home_team_win','home_team_loss','home_team_outcome']]
data.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.0,New York Mets,1,7,3,2016-04-03,Kansas City Royals,0,9,4,Sunday,74.0,14.0,7,3.216667,regular season,1,0,Win
1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,Cincinnati Reds,0,8,3,Wednesday,55.0,24.0,5,2.383333,regular season,1,0,Win
2,12622.0,Minnesota Twins,0,5,2,2016-04-06,Baltimore Orioles,0,9,4,Wednesday,48.0,7.0,6,3.183333,regular season,1,0,Win
3,18531.0,Washington Nationals,0,8,3,2016-04-06,Atlanta Braves,1,8,1,Wednesday,65.0,10.0,4,2.883333,regular season,0,1,Loss
4,18572.0,Colorado Rockies,1,8,4,2016-04-06,Arizona Diamondbacks,0,8,3,Wednesday,77.0,0.0,7,2.650000,regular season,0,1,Loss

In [3]:
#DataFrame только по regular season 

data_regular_season = data.loc[(data.season == "regular season")]
data_regular_season.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.0,New York Mets,1,7,3,2016-04-03,Kansas City Royals,0,9,4,Sunday,74.0,14.0,7,3.216667,regular season,1,0,Win
1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,Cincinnati Reds,0,8,3,Wednesday,55.0,24.0,5,2.383333,regular season,1,0,Win
2,12622.0,Minnesota Twins,0,5,2,2016-04-06,Baltimore Orioles,0,9,4,Wednesday,48.0,7.0,6,3.183333,regular season,1,0,Win
3,18531.0,Washington Nationals,0,8,3,2016-04-06,Atlanta Braves,1,8,1,Wednesday,65.0,10.0,4,2.883333,regular season,0,1,Loss
4,18572.0,Colorado Rockies,1,8,4,2016-04-06,Arizona Diamondbacks,0,8,3,Wednesday,77.0,0.0,7,2.650000,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [5]:
data_regular_season.loc[( data_regular_season.attendance == data_regular_season['attendance'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,1,11,2,2016-09-20,Los Angeles Dodgers,0,9,0,Tuesday,77.0,6.0,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [30]:
data.loc[( data.temperature == data['temperature'].min())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,Detroit Tigers,1,7,4,Saturday,31.0,18.0,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [31]:
data.loc[(data.temperature == data['temperature'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,Arizona Diamondbacks,0,8,1,Friday,101.0,9.0,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [32]:
data.loc[(data.game_hours_dec == data['game_hours_dec'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,Toronto Blue Jays,2,11,1,Friday,68.0,0.0,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [33]:
data.loc[(data.game_hours_dec == data['game_hours_dec'].min())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,Pittsburgh Pirates,0,2,1,Thursday,63.0,12.0,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [62]:
data.loc[(data.home_team_win == data.home_team_loss)].count()[0]

1

# 7. Какая игра была последней в сезоне?

In [44]:
data.loc[(data.date == data['date'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
350,38104.0,Chicago Cubs,3,13,8,2016-11-02,Cleveland Indians,1,11,7,Wednesday,69.0,7.0,15,4.466667,post season,0,1,Loss

# 8. У какой игры было минимальное количество зрителей?

In [36]:
data.loc[(data.attendance == data['attendance'].min())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,Cleveland Indians,0,5,4,Wednesday,54.0,11.0,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [37]:
data.loc[(data.wind_speed == data['wind_speed'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,San Francisco Giants,0,14,11,Monday,58.0,25.0,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,Boston Red Sox,3,14,10,Sunday,58.0,25.0,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [13]:
data.loc[(data.total_runs == data['total_runs'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,San Diego Padres,1,20,13,Thursday,76.0,10.0,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [14]:
data.loc[(data.home_team_errors == data['home_team_errors'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,Milwaukee Brewers,5,5,1,Wednesday,77.0,9.0,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество ранов?

*раны изменены на хиты

In [15]:
data.loc[(data.home_team_hits + data.away_team_hits == (data.home_team_hits + data.away_team_hits).max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1413,36253.0,Texas Rangers,0,16,5,2016-07-04,Boston Red Sox,2,21,12,Monday,84.0,11.0,17,3.666667,regular season,1,0,Win

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [40]:
print("Total number of games at \033[1m all seasons (regular and post)\033[0;0m:")

data['away_team'].value_counts()+data['home_team'].value_counts()

Total number of games at  all seasons (regular and post):

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                163
Boston Red Sox                   165
Chicago Cubs                     179
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                176
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              173
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    163
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             167
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    165
Toronto Blue Jays                171
Washington Nationals             167
dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [45]:
df_away_wins = data_regular_season[['away_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] < data_regular_season['away_team_runs'])].groupby('away_team').count() 
df_home_wins = data_regular_season[['home_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] > data_regular_season['away_team_runs'])].groupby('home_team').count()
df_total_wins = df_away_wins + df_home_wins 
df_draw_wins = data_regular_season[['away_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] == data_regular_season['away_team_runs'])&(data_regular_season['away_team'] == df_total_wins['home_team_outcome'].nlargest(1).index[0])].groupby('away_team').count()

print(f"{df_total_wins['home_team_outcome'].nlargest(1).index[0]} won the most games at \033[1m regular season\033[0;0m. Total number of wins: {df_total_wins['home_team_outcome'].nlargest(1).array[0]}. Total number of draws: {df_draw_wins['home_team_outcome'].nlargest(1).array[0]}")

Chicago Cubs won the most games at  regular season. Total number of wins: 103. Total number of draws: 1

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [41]:
df_home_wins = data_regular_season[['home_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] > data_regular_season['away_team_runs'])].groupby('home_team').count()
print(f"{df_home_wins['home_team_outcome'].nlargest(1).index[0]} won the most home games at \033[1m regular season\033[0;0m. Total number of wins: {df_home_wins['home_team_outcome'].nlargest(1).array[0]}")

Chicago Cubs won the most home games at  regular season. Total number of wins: 57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [42]:
df_away_wins = data_regular_season[['away_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] < data_regular_season['away_team_runs'])].groupby('away_team').count()
print(f"{df_away_wins['home_team_outcome'].nlargest(1).index[0]} won the most away games at \033[1m regular season\033[0;0m. Total number of wins: {df_away_wins['home_team_outcome'].nlargest(1).array[0]}")

St. Louis Cardinals won the most away games at  regular season. Total number of wins: 48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [48]:
df_away_loss = data_regular_season[['away_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] > data_regular_season['away_team_runs'])].groupby('away_team').count() 
df_home_loss = data_regular_season[['home_team','home_team_outcome']].loc[(data_regular_season['home_team_runs'] < data_regular_season['away_team_runs'])].groupby('home_team').count()
df_total_loss = df_away_loss + df_home_loss
print(f"{df_total_loss['home_team_outcome'].nlargest(1).index[0]} lost the most games at \033[1m regular season\033[0;0m. Total number of losses: {df_total_loss['home_team_outcome'].nlargest(1).array[0]}")

Minnesota Twins lost the most games at  regular season. Total number of losses: 103

# 18. Зависит ли выигрышь от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [23]:
df_cov = data[['home_team_win','attendance']].cov()
if df_cov['attendance'].array[0] != 0:
     print ('Win depends on match attendees')
else:
    print ("Win doesn't depend on match attendees")

Win depends on match attendees

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [24]:
df_day = data[['day_of_week','home_team_outcome']].loc[data.home_team_outcome == "Loss"].groupby('day_of_week').count()

df_largest_loss = df_day['home_team_outcome'].nlargest(2)

if (df_largest_loss.index[0] == "Sunday" or  df_largest_loss.index[0] == "Saturday") and (df_largest_loss.index[1] == "Sunday" or  df_largest_loss.index[1] == "Saturday"):
    print("True")
else:
    print(f"False, most of the losses are on {df_largest_loss.index[0]} and {df_largest_loss.index[1]}")

False, most of the losses are on Sunday and Tuesday

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [25]:
df_cold_runs = data[['total_runs','temperature']].loc[(data.temperature <= 32)]
df_warm_runs = data[['total_runs','temperature']].loc[(data.temperature > 32)]

if df_cold_runs['total_runs'].max() > df_warm_runs['total_runs'].max() : 
    print("True")
else:
    print("False")

False